Seção Pyspark: Tratamento de dados e Big Data

Módulo: Definição e Coleta de Dados

Aula 6: Leitura e Escrita de Dados

In [ ]:
! pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.4)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [3]:
import pyspark
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.getOrCreate()

In [5]:
df = spark.read.option('header', 'true').option('inferSchema', 'true').csv('clientes_tratados.csv')

In [6]:
df.show()

+-----+----------+-------------------+--------+------------------+-------------+------------+------------+----------------+
|idade|      data|             estado| salario|    nivel_educacao|numero_filhos|estado_civil|area_atuacao|anos_experiencia|
+-----+----------+-------------------+--------+------------------+-------------+------------+------------+----------------+
|   56|1968-01-19|               Pará|13550.54|      Ensino Médio|            0|      Casado|  Tecnologia|              17|
|   49|1975-01-31|Rio Grande do Norte| 3124.72|      Ensino Médio|            3|      Casado|   Indústria|               3|
|   54|1969-08-26|       Minas Gerais|  7534.6|      Ensino Médio|            0|      Casado|  Tecnologia|              18|
|   61|1963-03-19|              Amapá| 4067.73|Ensino Fundamental|            1|    Solteiro|    Comércio|              16|
|   30|1993-12-09|            Alagoas| 6809.94|      Ensino Médio|            1|      Casado|  Tecnologia|               9|
|   54|1969-06-24|               Pará| 9025.74|      Ensino Médio|            1|    Solteiro|   Indústria|              25|
|   28|1996-03-25|          Tocantins| 9493.67|   Ensino Superior|            1|      Casado|    Comércio|               6|
|   30|1993-06-20|          Tocantins|  4072.6|      Ensino Médio|            0|    Solteiro|    Educação|              11|
|   24|2000-02-21|Rio Grande do Norte| 4039.96|Ensino Fundamental|            1|    Solteiro|   Indústria|               0|
|   35|1988-08-02|           Amazonas| 3457.97|Ensino Fundamental|            1|       Viúvo|   Indústria|               3|
|   29|1995-02-22|Rio Grande do Norte| 3913.59|      Ensino Médio|            1|      Casado|    Educação|               3|
|   39|1984-12-08|  Rio Grande do Sul|11956.86|   Ensino Superior|            1|  Divorciado|       Saúde|              13|
|   27|1996-11-08|          São Paulo| 4741.55|Ensino Fundamental|            2|      Casado|  Tecnologia|               5|
|   28|1995-08-04|     Santa Catarina| 5750.38|      Ensino Médio|            1|      Casado|  Tecnologia|               1|
|   22|2001-07-26|   Distrito Federal| 3302.26|      Ensino Médio|            1|    Solteiro|   Indústria|               2|
|   31|1993-04-10|         Pernambuco| 6801.59|      Ensino Médio|            1|      Casado|       Saúde|               8|
|   46|1977-07-14|   Distrito Federal| 3452.93|Ensino Fundamental|            1|  Divorciado|       Saúde|              24|
|   62|1961-06-30|          São Paulo| 7316.91|   Ensino Superior|            2|    Solteiro|   Indústria|               8|
|   23|2000-08-11|            Paraíba| 3076.23|      Ensino Médio|            0|      Casado|   Indústria|               5|
|   25|1998-11-08|              Goiás|  3268.8|      Ensino Médio|            0|    Solteiro|    Educação|               6|
+-----+----------+-------------------+--------+------------------+-------------+------------+------------+----------------+
only showing top 20 rows

In [ ]:
df.write.csv('output/clientes_csv')

In [7]:
df.write.mode('overwrite').option('header', 'true').csv('output/clientes_csv')

In [8]:
df = spark.read.option('header', 'true').option('inferSchema', 'true').csv('output/clientes_csv')
df.show()

+-----+----------+-------------------+--------+------------------+-------------+------------+------------+----------------+
|idade|      data|             estado| salario|    nivel_educacao|numero_filhos|estado_civil|area_atuacao|anos_experiencia|
+-----+----------+-------------------+--------+------------------+-------------+------------+------------+----------------+
|   56|1968-01-19|               Pará|13550.54|      Ensino Médio|            0|      Casado|  Tecnologia|              17|
|   49|1975-01-31|Rio Grande do Norte| 3124.72|      Ensino Médio|            3|      Casado|   Indústria|               3|
|   54|1969-08-26|       Minas Gerais|  7534.6|      Ensino Médio|            0|      Casado|  Tecnologia|              18|
|   61|1963-03-19|              Amapá| 4067.73|Ensino Fundamental|            1|    Solteiro|    Comércio|              16|
|   30|1993-12-09|            Alagoas| 6809.94|      Ensino Médio|            1|      Casado|  Tecnologia|               9|
|   54|1969-06-24|               Pará| 9025.74|      Ensino Médio|            1|    Solteiro|   Indústria|              25|
|   28|1996-03-25|          Tocantins| 9493.67|   Ensino Superior|            1|      Casado|    Comércio|               6|
|   30|1993-06-20|          Tocantins|  4072.6|      Ensino Médio|            0|    Solteiro|    Educação|              11|
|   24|2000-02-21|Rio Grande do Norte| 4039.96|Ensino Fundamental|            1|    Solteiro|   Indústria|               0|
|   35|1988-08-02|           Amazonas| 3457.97|Ensino Fundamental|            1|       Viúvo|   Indústria|               3|
|   29|1995-02-22|Rio Grande do Norte| 3913.59|      Ensino Médio|            1|      Casado|    Educação|               3|
|   39|1984-12-08|  Rio Grande do Sul|11956.86|   Ensino Superior|            1|  Divorciado|       Saúde|              13|
|   27|1996-11-08|          São Paulo| 4741.55|Ensino Fundamental|            2|      Casado|  Tecnologia|               5|
|   28|1995-08-04|     Santa Catarina| 5750.38|      Ensino Médio|            1|      Casado|  Tecnologia|               1|
|   22|2001-07-26|   Distrito Federal| 3302.26|      Ensino Médio|            1|    Solteiro|   Indústria|               2|
|   31|1993-04-10|         Pernambuco| 6801.59|      Ensino Médio|            1|      Casado|       Saúde|               8|
|   46|1977-07-14|   Distrito Federal| 3452.93|Ensino Fundamental|            1|  Divorciado|       Saúde|              24|
|   62|1961-06-30|          São Paulo| 7316.91|   Ensino Superior|            2|    Solteiro|   Indústria|               8|
|   23|2000-08-11|            Paraíba| 3076.23|      Ensino Médio|            0|      Casado|   Indústria|               5|
|   25|1998-11-08|              Goiás|  3268.8|      Ensino Médio|            0|    Solteiro|    Educação|               6|
+-----+----------+-------------------+--------+------------------+-------------+------------+------------+----------------+
only showing top 20 rows

In [10]:
df.write.option('header', 'true').json('output/clientes_json')

In [11]:
df = spark.read.option('header', 'true').option('inferSchema', 'true').json('output/clientes_json')
df.show()

+----------------+------------+----------+-------------------+------------+-----+------------------+-------------+--------+
|anos_experiencia|area_atuacao|      data|             estado|estado_civil|idade|    nivel_educacao|numero_filhos| salario|
+----------------+------------+----------+-------------------+------------+-----+------------------+-------------+--------+
|              17|  Tecnologia|1968-01-19|               Pará|      Casado|   56|      Ensino Médio|            0|13550.54|
|               3|   Indústria|1975-01-31|Rio Grande do Norte|      Casado|   49|      Ensino Médio|            3| 3124.72|
|              18|  Tecnologia|1969-08-26|       Minas Gerais|      Casado|   54|      Ensino Médio|            0|  7534.6|
|              16|    Comércio|1963-03-19|              Amapá|    Solteiro|   61|Ensino Fundamental|            1| 4067.73|
|               9|  Tecnologia|1993-12-09|            Alagoas|      Casado|   30|      Ensino Médio|            1| 6809.94|
|              25|   Indústria|1969-06-24|               Pará|    Solteiro|   54|      Ensino Médio|            1| 9025.74|
|               6|    Comércio|1996-03-25|          Tocantins|      Casado|   28|   Ensino Superior|            1| 9493.67|
|              11|    Educação|1993-06-20|          Tocantins|    Solteiro|   30|      Ensino Médio|            0|  4072.6|
|               0|   Indústria|2000-02-21|Rio Grande do Norte|    Solteiro|   24|Ensino Fundamental|            1| 4039.96|
|               3|   Indústria|1988-08-02|           Amazonas|       Viúvo|   35|Ensino Fundamental|            1| 3457.97|
|               3|    Educação|1995-02-22|Rio Grande do Norte|      Casado|   29|      Ensino Médio|            1| 3913.59|
|              13|       Saúde|1984-12-08|  Rio Grande do Sul|  Divorciado|   39|   Ensino Superior|            1|11956.86|
|               5|  Tecnologia|1996-11-08|          São Paulo|      Casado|   27|Ensino Fundamental|            2| 4741.55|
|               1|  Tecnologia|1995-08-04|     Santa Catarina|      Casado|   28|      Ensino Médio|            1| 5750.38|
|               2|   Indústria|2001-07-26|   Distrito Federal|    Solteiro|   22|      Ensino Médio|            1| 3302.26|
|               8|       Saúde|1993-04-10|         Pernambuco|      Casado|   31|      Ensino Médio|            1| 6801.59|
|              24|       Saúde|1977-07-14|   Distrito Federal|  Divorciado|   46|Ensino Fundamental|            1| 3452.93|
|               8|   Indústria|1961-06-30|          São Paulo|    Solteiro|   62|   Ensino Superior|            2| 7316.91|
|               5|   Indústria|2000-08-11|            Paraíba|      Casado|   23|      Ensino Médio|            0| 3076.23|
|               6|    Educação|1998-11-08|              Goiás|    Solteiro|   25|      Ensino Médio|            0|  3268.8|
+----------------+------------+----------+-------------------+------------+-----+------------------+-------------+--------+
only showing top 20 rows

In [12]:
df.write.option('header', 'true').parquet('output/clientes_parquet')

In [13]:
df = spark.read.option('header', 'true').option('inferSchema', 'true').parquet('output/clientes_parquet')
df.show()

+----------------+------------+----------+-------------------+------------+-----+------------------+-------------+--------+
|anos_experiencia|area_atuacao|      data|             estado|estado_civil|idade|    nivel_educacao|numero_filhos| salario|
+----------------+------------+----------+-------------------+------------+-----+------------------+-------------+--------+
|              17|  Tecnologia|1968-01-19|               Pará|      Casado|   56|      Ensino Médio|            0|13550.54|
|               3|   Indústria|1975-01-31|Rio Grande do Norte|      Casado|   49|      Ensino Médio|            3| 3124.72|
|              18|  Tecnologia|1969-08-26|       Minas Gerais|      Casado|   54|      Ensino Médio|            0|  7534.6|
|              16|    Comércio|1963-03-19|              Amapá|    Solteiro|   61|Ensino Fundamental|            1| 4067.73|
|               9|  Tecnologia|1993-12-09|            Alagoas|      Casado|   30|      Ensino Médio|            1| 6809.94|
|              25|   Indústria|1969-06-24|               Pará|    Solteiro|   54|      Ensino Médio|            1| 9025.74|
|               6|    Comércio|1996-03-25|          Tocantins|      Casado|   28|   Ensino Superior|            1| 9493.67|
|              11|    Educação|1993-06-20|          Tocantins|    Solteiro|   30|      Ensino Médio|            0|  4072.6|
|               0|   Indústria|2000-02-21|Rio Grande do Norte|    Solteiro|   24|Ensino Fundamental|            1| 4039.96|
|               3|   Indústria|1988-08-02|           Amazonas|       Viúvo|   35|Ensino Fundamental|            1| 3457.97|
|               3|    Educação|1995-02-22|Rio Grande do Norte|      Casado|   29|      Ensino Médio|            1| 3913.59|
|              13|       Saúde|1984-12-08|  Rio Grande do Sul|  Divorciado|   39|   Ensino Superior|            1|11956.86|
|               5|  Tecnologia|1996-11-08|          São Paulo|      Casado|   27|Ensino Fundamental|            2| 4741.55|
|               1|  Tecnologia|1995-08-04|     Santa Catarina|      Casado|   28|      Ensino Médio|            1| 5750.38|
|               2|   Indústria|2001-07-26|   Distrito Federal|    Solteiro|   22|      Ensino Médio|            1| 3302.26|
|               8|       Saúde|1993-04-10|         Pernambuco|      Casado|   31|      Ensino Médio|            1| 6801.59|
|              24|       Saúde|1977-07-14|   Distrito Federal|  Divorciado|   46|Ensino Fundamental|            1| 3452.93|
|               8|   Indústria|1961-06-30|          São Paulo|    Solteiro|   62|   Ensino Superior|            2| 7316.91|
|               5|   Indústria|2000-08-11|            Paraíba|      Casado|   23|      Ensino Médio|            0| 3076.23|
|               6|    Educação|1998-11-08|              Goiás|    Solteiro|   25|      Ensino Médio|            0|  3268.8|
+----------------+------------+----------+-------------------+------------+-----+------------------+-------------+--------+
only showing top 20 rows

In [14]:
df.write.option('header', 'true').saveAsTable('cliente')

In [15]:
df.createOrReplaceTempView('temp_cliente')

In [16]:
spark.catalog.listDatabases()

[Database(name='default', catalog='spark_catalog', description='default database', locationUri='file:/content/spark-warehouse')]

In [17]:
spark.catalog.setCurrentDatabase('default')

In [18]:
spark.catalog.listTables()

[Table(name='cliente', catalog='spark_catalog', namespace=['default'], description=None, tableType='MANAGED', isTemporary=False),
 Table(name='temp_cliente', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True)]

In [19]:
tab_df = spark.sql('select * from temp_cliente')
tab_df.show()

+----------------+------------+----------+-------------------+------------+-----+------------------+-------------+--------+
|anos_experiencia|area_atuacao|      data|             estado|estado_civil|idade|    nivel_educacao|numero_filhos| salario|
+----------------+------------+----------+-------------------+------------+-----+------------------+-------------+--------+
|              17|  Tecnologia|1968-01-19|               Pará|      Casado|   56|      Ensino Médio|            0|13550.54|
|               3|   Indústria|1975-01-31|Rio Grande do Norte|      Casado|   49|      Ensino Médio|            3| 3124.72|
|              18|  Tecnologia|1969-08-26|       Minas Gerais|      Casado|   54|      Ensino Médio|            0|  7534.6|
|              16|    Comércio|1963-03-19|              Amapá|    Solteiro|   61|Ensino Fundamental|            1| 4067.73|
|               9|  Tecnologia|1993-12-09|            Alagoas|      Casado|   30|      Ensino Médio|            1| 6809.94|
|              25|   Indústria|1969-06-24|               Pará|    Solteiro|   54|      Ensino Médio|            1| 9025.74|
|               6|    Comércio|1996-03-25|          Tocantins|      Casado|   28|   Ensino Superior|            1| 9493.67|
|              11|    Educação|1993-06-20|          Tocantins|    Solteiro|   30|      Ensino Médio|            0|  4072.6|
|               0|   Indústria|2000-02-21|Rio Grande do Norte|    Solteiro|   24|Ensino Fundamental|            1| 4039.96|
|               3|   Indústria|1988-08-02|           Amazonas|       Viúvo|   35|Ensino Fundamental|            1| 3457.97|
|               3|    Educação|1995-02-22|Rio Grande do Norte|      Casado|   29|      Ensino Médio|            1| 3913.59|
|              13|       Saúde|1984-12-08|  Rio Grande do Sul|  Divorciado|   39|   Ensino Superior|            1|11956.86|
|               5|  Tecnologia|1996-11-08|          São Paulo|      Casado|   27|Ensino Fundamental|            2| 4741.55|
|               1|  Tecnologia|1995-08-04|     Santa Catarina|      Casado|   28|      Ensino Médio|            1| 5750.38|
|               2|   Indústria|2001-07-26|   Distrito Federal|    Solteiro|   22|      Ensino Médio|            1| 3302.26|
|               8|       Saúde|1993-04-10|         Pernambuco|      Casado|   31|      Ensino Médio|            1| 6801.59|
|              24|       Saúde|1977-07-14|   Distrito Federal|  Divorciado|   46|Ensino Fundamental|            1| 3452.93|
|               8|   Indústria|1961-06-30|          São Paulo|    Solteiro|   62|   Ensino Superior|            2| 7316.91|
|               5|   Indústria|2000-08-11|            Paraíba|      Casado|   23|      Ensino Médio|            0| 3076.23|
|               6|    Educação|1998-11-08|              Goiás|    Solteiro|   25|      Ensino Médio|            0|  3268.8|
+----------------+------------+----------+-------------------+------------+-----+------------------+-------------+--------+
only showing top 20 rows

In [20]:
spark.stop()